pipeline/pl_ingest_ecdc.json
{
	"name": "pl_ingest_ecdc",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy ecdc http data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ecdc_http",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@variables('v_sourceRelativeURL')",
											"type": "Expression"
										},
										"baseURL": {
											"value": "@variables('v_baseURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ecdc_dl",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('v_sinkFileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "relative url",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_sourceRelativeURL",
								"value": {
									"value": "@item().sourceRelativeURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "file name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_sinkFileName",
								"value": {
									"value": "@item().sinkFileName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "base url",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_baseURL",
								"value": {
									"value": "@item().sourceBaseURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "base url",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "file name",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "relative url",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_sourceRelativeURL": {
				"type": "String"
			},
			"v_sinkFileName": {
				"type": "String"
			},
			"v_baseURL": {
				"type": "String"
			}
		},
		"annotations": []
	}
}