vvadfdatabricks/PartialArmTemplates/ArmTemplate_8_28_2021_23_20_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vvadfdatabricks"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_formula1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_formula1_raw",
								"type": "DatasetReference",
								"parameters": {
									"p_window_end_date": {
										"value": "@pipeline().parameters.p_window_end_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata1').output.Exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ingest_circuits",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/01_ingest_circuits_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_races",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/02_ingest_races_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_constructors",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/03_ingest_constructors_json",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_drivers",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/04_ingest_driver_json",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/05_ingest_results_json",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_laptime",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/06_ingest_laptimes_csv_multifiles",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_pitstops",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/07_ingest_pitstops_json_multipline",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_qualifyings",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/ingestion/08_ingest_qualifyings_json_multifiles",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "XX"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_formula1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_formula1_raw",
								"type": "DatasetReference",
								"parameters": {
									"p_window_end_date": {
										"value": "@pipeline().parameters.p_window_end_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata1').output.Exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "transform_race_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/presentation/01_create_presentation",
										"baseParameters": {
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "transform_driver_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "transform_race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/presentation/02_driver_standings",
										"baseParameters": {
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "constructor_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "transform_race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/formula1/presentation/03_constructors_standings",
										"baseParameters": {
											"p_file_date": {
												"value": "pipeline().parameters.p_window_end_date",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "vvdatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "XX"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}